SPAN.a {
   color:white;
   font-weight:bold;
   } 
   SPAN.b {
   color:yellow;
   font-family:courier new;
   }
   SPAN.c {
   color:red;
   }
  BODY {
  background-color:blue;
  }
  H1 {
  font-style:italic;
  }